[package]
name = "filmorator-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
uuid = { workspace = true }
chrono = { workspace = true }
rand = "0.9"

[lints]
workspace = true
